@import url(./fonts/style.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stratos LC Web';
}

body {
    height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color: aliceblue;
}

.container {
    width: 1054px;
    height: 780px;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color: #004980; 
}

.levels__box {
    width: 480px;
    height: 460px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #C2F5FF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    &_text {
        font-size: 40px;
        color: #004980;
        text-align: center;
        margin-top: 50px;
    }
}

.number {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 64px;
    color: #0080C1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover { background-color: lightskyblue; color: white;}

    &__chosen {
        background-color: lightskyblue; color: white;
    }

}

.level {
    display: none;
}


.levels__numbers {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 67px;
    margin-top: 50px;
}

.button__wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    &_btn {
        width: 246px;
        height: 50px;
        border-radius: 10px;
        background: #7AC100;
        border-radius: 12px;
        font-family: inherit;
        color: white;
        font-size: 24px;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover {
            background: #93e900;
        }
    }
}

.gamescreen {

    &__header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        width: 976px;
        margin-bottom: 50px;

        &_text {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: baseline;
            gap: 57px;
            height: 1px;
            margin-left: 40px;
            margin-bottom: 27px;
        }

        &_timer {
            display: flex;
            flex-direction: column;
            font-size: 64px;
            line-height: 50px;
            color: white;
        }
    }

    .timer_text {
        font-size: 16px;
        line-height: 32px;
        color: white;
    }

    &__field {
        width: 976px;
        gap: 15px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &_card {
            background-color: white;
            width: 95px;
            border-radius: 4px;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    }
}